#***Assignment_17***

Q1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [ ]:
guess_me=7
if guess_me == 7:
    print('just right')
elif guess_me < 7 :
    print('too low')
else :
    print('too high')

just right

Q2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [ ]:
guess_me=7
start=1
while True:
    if start < guess_me:
        print('too low')
    elif start == guess_me:
        print('found it!')
        break
    else:
        print('oops')
        break
    start += 1

too low
too low
too low
too low
too low
too low
found it!

Q3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [ ]:
for i in [3,2,1,0] :
    print(i)

3
2
1
0

Q4. Use a list comprehension to make a list of the even numbers in range(10)

In [ ]:
evenNumbers=[i for i in range(0,11,2)]
evenNumbers

[0, 2, 4, 6, 8, 10]

Q5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [ ]:
squares={x:x**2 for x in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Q6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [ ]:
odd={x for x in range(1,11,2)}
odd

{1, 3, 5, 7, 9}

Q7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [ ]:
generator=('Got'+str(n) for n in range(11))
for i in generator :
    print(i)

Got0
Got1
Got2
Got3
Got4
Got5
Got6
Got7
Got8
Got9
Got10

Q8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [ ]:
def good() :
    return  ['Harry', 'Ron', 'Hermione']

good()

['Harry', 'Ron', 'Hermione']

Q9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [ ]:
get_odds=(x for x in range(1,11,2))
count=1
for i in get_odds :
    if count == 3 :
        print(i)
    count += 1

5

Q10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [ ]:
class OopsException(Exception):
    pass

def with_exception(a):
    if a < 0:
        raise OopsException(a)

try:
    with_exception(-1)
except OopsException as err:
    print('Caught an oops')

Caught an oops

Q11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [ ]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies={k:v for k,v in zip(titles,plots)}
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}