#***Programming_Assignment18***

**Question 1**<BR>
Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.<BR><BR>
**Examples**<BR><BR>
```
filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]
```

In [29]:
def filter_list(list1) :
    list2=[]

    for i in list1 :
        if type(i) != str :
            list2.append(i)
        
    return list2

print(filter_list([1, 2, "a", "b"]))
print(filter_list([1,'a','b',0,15]))
print(filter_list([1,2,'aasf','1','123',123]))

[1, 2]
[1, 0, 15]
[1, 2, 123]

**Question 2**<br><BR>
The "Reverser" takes a string as input and returns that string in reverse order, with the
opposite case.<BR><BR>
**Examples**<BR><BR>
```
reverse("Hello World") ➞ "DLROw OLLEh"
reverse("ReVeRsE") ➞ "eSrEvEr"
reverse("Radar") ➞ "RADAr"
```

In [32]:
def reverse(string) :

    string = string[::-1].swapcase()

    return string

print(reverse("Hello World"))
print(reverse("ReVeRsE"))
print(reverse("Radar"))

DLROw OLLEh
eSrEvEr
RADAr

**Question 3**<BR><BR>
You can assign variables from lists like this:<BR><BR>
```
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
```
<BR>
With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
(check the Resources tab for some examples), where:<BR>


```
first ➞ 1
middle ➞ [2, 3, 4, 5]
last ➞ 6
```
<BR>
Your task is to unpack the list 


```writeyourcodehere``` into three variables, being ```first```,
```middle```, and ```last```, with middle being everything in between the first and last element. Then
print all three variables.*italicised text*

In [34]:
task = 'writeyourcodehere'
list1 = list(task)
first = list1[0]
middle = list1[1:-1]
last = list1[-1]
print(first)
print(middle)
print(last)

w
['r', 'i', 't', 'e', 'y', 'o', 'u', 'r', 'c', 'o', 'd', 'e', 'h', 'e', 'r']
e

**Question 4**<BR><BR>
Write a function that calculates the factorial of a number recursively.
<BR><BR>**Examples**<BR><BR>
```
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1
```

In [35]:
def factorial(num) :

    if num == 0 or num == 1 :
        return 1
    return num*factorial(num-1)

print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))

120
6
1
1

**Question 5**<BR><BR>
Write a function that moves all elements of one type to the end of the list.<BR><BR>
**Examples**<BR><BR>
```
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]

# Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]
```

In [36]:
def move_to_end(list1,elt) :

    for i in list1 :
        if i == elt :
            list1.append(i) 
            list1.remove(i)
    
    return list1

print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a", "a", "a", "b"], "a"))

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['b', 'a', 'a', 'a']