#***Programmin_Assignment10***

Q1. Write a Python program to find sum of elements in list?

In [ ]:
def listSum(lst) :

    sum = 0 
    lst = [eval(i) for i in lst.split()]

    for i in lst :
        sum += i 

    return sum

lst = input('Give space separated elements of list : ') 
print('Sum of elements of list : ', listSum(lst))

Give space separated elements of list : 10 12 14 15 19 18 17 7 1214
Sum of elements of list :  1326

Q2. Write a Python program to Multiply all numbers in the list?

In [ ]:
def listMult(lst) :

    factor = 1 
    lst = [eval(i) for i in lst.split()]

    for i in lst :
        factor *= i 

    return factor

lst = input('Give space separated elements of list : ') 
print('Product of elements of list : ', listMult(lst))

Give space separated elements of list : 1 2 3 4 5 6
Product of elements of list :  720

Q3. Write a Python program to find smallest number in a list?

In [ ]:
def min(lst) :
 
    lst = [eval(i) for i in lst.split()]
    min = lst[0]

    for i in lst :
        if i <= min :
            min = i

    return min

lst = input('Give space separated elements of list : ') 
print('Smallest element of list : ', min(lst))

Give space separated elements of list : 12 10 13 18  -1  -65  65  -56  32
Smallest element of list :  -65

Q4. Write a Python program to find largest number in a list?

In [ ]:
def max(lst) :
 
    lst = [eval(i) for i in lst.split()]
    max = lst[0]

    for i in lst :
        if i >= max :
            max = i

    return max

lst = input('Give space separated elements of list : ') 
print('Largest element of list : ', max(lst))

Give space separated elements of list : -5  -6  -65  -32  -3261 -1 0  -2
Largest element of list :  0

Q5. Write a Python program to find second largest number in a list?

In [ ]:
def max_2(lst) :
 
    lst = [eval(i) for i in lst.split()]
    lst.sort()
    
    return lst[-2]

lst = input('Give space separated elements of list : ') 
print('Second Largest element of list : ', max_2(lst))

Give space separated elements of list : -5  -6  -65  -32  -3261 -1 0  -2
Second Largest element of list :  -1

Q6. Write a Python program to find N largest elements from a list?

In [ ]:
def max_N(lst,n) :

    lst = [eval(i) for i in lst.split()]
    lst.sort(reverse = True)
    lst1 = []

    for i in range (n) :
        lst1.append(lst[i])
    return lst1

lst = input('Give space separated elements of list : ')
N = int(input(f'Give value of 1 between 0 and {len(lst.split())} : '))

print ('N largest elements of list : ', end = "")
for i in max_N(lst,N) :
    print(i , end = "  ")

Give space separated elements of list : 1  12  13  14  15  522 321  -659  -52  65  32  2.36
Give value of 1 between 0 and 12 : 7
N largest elements of list : 522  321  65  32  15  14  13

Q7. Write a Python program to print even numbers in a list?

In [ ]:
def Even(lst) :

    lst = [eval(i) for i in lst.split()]
    lst1 = []
    for i in lst :
        if i % 2 == 0 :
            lst1.append(i)
    return lst1

lst = input('Give space separated elements of list : ')

print ('Even numbers of list : ', end = "")
for i in Even(lst) :
    print(i , end = "  ")

Give space separated elements of list : 10 12 13 14 15 16 178 122 1 -63 -62 652 65 33 365214
Even numbers of list : 10  12  14  16  178  122  -62  652  365214

Q8. Write a Python program to print odd numbers in a List?

In [ ]:
def Odd(lst) :

    lst = [eval(i) for i in lst.split()]
    lst1 = []
    for i in lst :
        if i % 2 != 0 :
            lst1.append(i)
    return lst1

lst = input('Give space separated elements of list : ')

print ('Odd numbers of list : ', end = "")
for i in Odd(lst) :
    print(i , end = "  ")

Give space separated elements of list : 3 10 12 14 15 18 13 632 6523 456 88 65 124
Odd numbers of list : 3  15  13  6523  65

Q9. Write a Python program to Remove empty List from List?

In [ ]:
list1 = [1,2,[],['I','am','SAQIB','SHAIKH'],3,['Only'],4,5,6,[],65,[1,2,3,6],[],[21,'lk','65','abc'],'iNeuron']
for i in list1 :
    if (type(i) == list) and (len(i) == 0) :
        list1.remove(i)
print(list1)

[1, 2, ['I', 'am', 'SAQIB', 'SHAIKH'], 3, ['Only'], 4, 5, 6, 65, [1, 2, 3, 6], [21, 'lk', '65', 'abc'], 'iNeuron']

Q10. Write a Python program to Cloning or Copying a list?

In [ ]:
import copy
list1 = ['1',1,'2',2,'2',3,'3',4,'4',[12,13,14,15,'fdsf']]
list2 = copy.deepcopy(list1)
print('list1 = ',list1,'   \033[31mAddress of list1 = ',id(list1))
print('list2 = ',list2,'   \033[31mAddress of list2 = ',id(list2))

list1 =  ['1', 1, '2', 2, '2', 3, '3', 4, '4', [12, 13, 14, 15, 'fdsf']]    Address of list1 =  139769216744096
list2 =  ['1', 1, '2', 2, '2', 3, '3', 4, '4', [12, 13, 14, 15, 'fdsf']]    Address of list2 =  139769216115008

Q11. Write a Python program to Count occurrences of an element in a list?

In [ ]:
def Count(elt,lst) :
    count = 0

    for i in lst :
        if i == elt :
            count += 1
    return count

lst = input('Give space separated elements of list : ').split()
lst1 = set(lst)
for i in lst1 :
    print(f'Occurence of {i}'.ljust(20),f' -------->  {Count(i,lst)} Times')

Give space separated elements of list : 1 2 3 6 5 4 3 2 1 ok kk by hello world ok kk ok by by
Occurence of 2        -------->  2 Times
Occurence of 5        -------->  1 Times
Occurence of ok       -------->  3 Times
Occurence of 3        -------->  2 Times
Occurence of 6        -------->  1 Times
Occurence of kk       -------->  2 Times
Occurence of hello    -------->  1 Times
Occurence of 4        -------->  1 Times
Occurence of by       -------->  3 Times
Occurence of 1        -------->  2 Times
Occurence of world    -------->  1 Times