#***Programming_Assignment***

**Question 1**<BR><BR>
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.<BR><BR>
**Examples**<BR><BR>
```
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True
```

In [2]:
def is_symmetrical(n) :
    if str(n) == str(n)[::-1] :
        return True 
    return False 

print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

**Question 2**<BR><BR>
Given a string of numbers separated by a comma and space, return the product of the
numbers.
<BR><BR>**Examples**<BR><BR>
```
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20
```

In [5]:
def multiply_nums(nums) :
    result = 1
    list1 = nums.split(',')

    for i in list1 :
        result *= int(i) 

    return result 

print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75 ,453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

**Question 3**<BR><BR>
Create a function that squares every digit of a number.
<BR><BR>**Examples**<BR><BR>
```
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
```

In [9]:
def square_digits(n) :
    result = ""
    for i in str(n) :
        result += str(int(i)**2)

    return result

print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

**Question 4**<BR><BR>
Create a function that sorts a list and removes all duplicate items from it.
<BR><BR>**Examples**<BR><BR>
```
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
```

In [11]:
def setify(list1) :
    
    return sorted(list(set(list1)))

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3,3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

**Question 5**<BR><Br>
Create a function that returns the mean of all digits.
<BR><BR>**Examples**<BR><BR>
```
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
```

In [12]:
def mean(n) :
    sum = 0

    for i in str(n) :
        sum += int(i)

    return int(sum / len(str(n)))

print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6