#***Programming_Assignment21***

**Question1**<BR><BR>
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.<BR><BR>
**Examples**<BR><BR>
```
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"
```

In [ ]:
def next_in_line(list1,n) :

    if len(list1) > 0 :
        list1.append(n) 
        list1.pop(0)
        return list1 

    return "No list has been selected"

print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42 ], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

**Question2**<BR><BR>
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
<BR><BR>**Examples**<BR><BR>
```
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600
```

In [ ]:
def get_budgets(dicts) :
    sum = 0

    for dict1 in dicts :
        for k,v in dict1.items() :
            if k == "budget" :
                sum += v 
    return sum

print(get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]))

print(get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]))

65700
62600

**Question3**<BR><BR>
Create a function that takes a string and returns a string with its letters in alphabetical order.<BR><BR>
**Examples**<BR><BR>
```
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"
```

In [ ]:
def alphabet_soup(str1) :
    return ''.join(sorted(str1))

print(alphabet_soup("hello"))
print(alphabet_soup("edabit"))
print(alphabet_soup("hacker"))
print(alphabet_soup("geek"))
print(alphabet_soup("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

**Question4**<BR><BR>
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
<BR><BR>Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
<BR><BR>For the example above:
```
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
```
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.<BR><BR>
**Examples**<BR><BR>
```
compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26
```

A = P(1 + r/n)**nt<BR>
<BR>A	=	final amount<BR>
P	=	initial principal balance<BR>
r	=	interest rate<BR>
n	=	number of times interest applied per time period<br>
t	=	number of time periods elapsed

In [ ]:
def compound_interest(P,t,r,n) :

    return round(P*(1 + r/n)**(n*t),2)

print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

105.0
15399.26
2007316.26

**Question5**<BR><BR>
Write a function that takes a list of elements and returns only the integers.
<BR><BR>**Examples**<BR><BR>
```
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]

return_only_integer(["String", True, 3.3, 1]) ➞ [1]
```

In [ ]:
def return_only_integer(list1) :
    list2 = []

    for i in list1 :
        if type(i) == int :
            list2.append(i)

    return list2

print(return_only_integer([9, 2, "space", "car", "lion", 16]))
print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))
print(return_only_integer(["String", True, 3.3, 1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[1]